body{
  background-image: url(th.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.tampilan{
	background: blue;
	width: 900px;
	margin: 10px auto;
  opacity: 0.7;
  color : white;
}

.tampilan .header{
 		height: 100px;
		background-color: currentColor;
		background-image: linear-gradient(to top, blue, black);
}

.menu a:hover{
  background-color: red;
  color : white;
}

.tampilan .menu{
	background: yellow;
}

.tampilan .menu ul{
	padding: 0;
	margin: 0;
	background: red;
	overflow: hidden;
}

.tampilan .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}

.menu ul li a{
  color : black;
  text-decoration: none;
}

clear{
	clear: both;
}

badan{
	height: 430px;
}

footer{
  background-color: yellow;
  opacity: 0.9;
  width: 900px;
  margin : auto;
  color: black;

}